* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(248, 244, 240);
}

.content {
  align-items: center;
  background-color: rgb(170, 144, 149);
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.card__content {
  background-color: rgb(200, 218, 218);
  box-shadow: 10px 10px 10px -10px rgba(34, 60, 80, 0.85);
  border-radius: 0.5rem;
  flex: 1 1 10rem;
  margin: 2rem;
  width: 22rem;

  h4 {
    padding-bottom: 0.5rem;
    text-align: center;
  }
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  height: 80%;
  object-fit: cover;
  width: 100%;
}
