@function rem($size) {
  @return $size / 16px * 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6eaf8;
}

.content {
  background-color: #ebdef0;
  display: flex;
  flex-wrap: wrap;
  max-width: rem(1200px);
  margin: 0 auto;
}

.card__content {
  background-color: #f8f9f9;
  box-shadow: 10px 10px 10px -10px rgba(34, 60, 80, 0.85);
  border-radius: rem(5px);
  flex: 1 1 rem(100px);
  margin: rem(10px);

  a {
    text-decoration: none;
    color: #17202a;
  }

  h4 {
    font-size: rem(11px);
    padding-bottom: rem(5px);
    text-align: center;
  }

  p {
    font-size: rem(8px);
  }
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: rem(9px);
}

.image {
  height: 70%;
  object-fit: cover;
  width: 100%;
}
